<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
<p>
	<strong> Stars: </strong>
	<%= @topic.votes.count %>
</p>
</p>

<%= link_to t('Edit'), edit_topic_path(@topic) %> |
<%= link_to t('Back'), topics_path %>
