<h1> <%=t('New Vote')%></h1>

<%= form_for @votes do |f| %>

  <div class="form-group">
  <%= f.label :votes %>
  <%= number_field_tag :stars, nil, min: 0, max: 5 class: "form-control input-block"%>
  <%= f.hidden_field :topic_id, :value => params[:topic_id] %>
  </div>



 <p>
 	 <%= f.submit "submit"%>
 </p>


<%= link_to t('Back'), topics_path(params[:topic_id]) %>

 <% end %>
