<!DOCTYPE html>
<html>
  <head>
    <title>Suggestotron</title>
    <%= csrf_meta_tags %>
<div> <%= t('Language') %>

<%=link_to 'Deutsch', url_for( :locale => 'de' )%>
<%=link_to "Spanish", url_for( :locale => 'es')%>
<%=link_to "English", url_for( :locale => 'en')%>
</div>

<%= yield %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
  <% flash.each do |key, value| %>
  <p> <%= value %> </p>
  <% end %>

  </body>
</html>
